{% assign maxRelated = 3 %}
{% assign minCommonTags = 1 %}
{% assign maxRelatedCounter = 0 %}

<!-- begin related publications -->
<div class="container">
  <section class="related-publications animate">
    <div class="row">
      <div class="col col-12">
        <div class="container__inner">
          <div class="section__info">
            <div class="section__head">
              <h2 class="section__title">You may also like</h2>
            </div>
          </div>
          <div class="row">

            {% for publication in site.publications %}
              {% if publication.url != page.url %}
                {% assign sameTagCount = 0 %}

                {% for tag in publication.tags %}
                  {% if page.tags contains tag %}
                    {% assign sameTagCount = sameTagCount | plus: 1 %}
                  {% endif %}
                {% endfor %}

                {% if sameTagCount >= minCommonTags %}
                  {% include article.html publication=publication %}
                  {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
                  {% if maxRelatedCounter >= maxRelated %}
                    {% break %}
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endfor %}

          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- end related publications -->
