<!-- begin publications -->
<section class="section publications animate">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="contaniner__inner">
  
        <div class="section__info">
          <div class="section__head">
            <h2 class="section__title">{{ site.data.settings.publications__settings.publications__title }}</h2>
          </div>
          {% if site.data.settings.publication__settings.publication__description %}
            <p class="section__description">{{ site.data.settings.publications__settings.publications__description }}</p>
          {% endif %}
        </div>
  
          <div class="row">
            {% if site.publications.size > 0 %}
              {% for publication in site.publications offset:0 limit:3 %}
                {% include article.html publication=publication %}
              {% endfor %}
            {% endif %}
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="section__navigation">
    <a href="{{ '/publications' | relative_url }}" class="button button--primary section-button">See all</a>
  </div>
</section>
<!-- end blog -->